Repository Monstarrrr/rebutify, pull requests merged in 2024-05, with the labels that each got.

#31 Added login process
  .pre-commit-config.yaml
  backend/.template-env
  backend/core/forms.py
  backend/core/serializers.py
  backend/core/templates/user/Email.html
  backend/core/templates/user/acc_active_email.html
  backend/core/templates/user/index.html
  backend/core/templates/user/login.html
  backend/core/templates/user/logout.html
  backend/core/templates/user/register.html
  backend/core/tests.py
  backend/core/token.py
  backend/core/urls.py
  backend/core/views.py
  backend/rebutify/settings.py
  backend/rebutify/urls.py
  backend/requirements.txt
Labels: back-end

#43 Feat/42 form component
  .pre-commit-config.yaml
  frontend/.eslintrc.json
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_components/form.tsx
  frontend/app/_styles/fonts.ts
  frontend/app/_types/apiErrors.ts
  frontend/app/_types/inputs.ts
  frontend/app/layout.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#47 [#46] Implemented error handling in Form based on API responses
  frontend/app/(routes)/(auth)/activate/page.tsx
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_components/form.tsx
  frontend/app/_types/api.ts
  frontend/app/_types/apiErrors.ts
Labels: front-end

#50 Feat/45_setup_adrs
  docs/CONTRIBUTING.md
  docs/README.md
  docs/architecture/_template.md
  docs/architecture/frontend.md
Labels: documentation

#60 [#56] Added decisions folder
  docs/decisions/architecture/_template.md
  docs/decisions/architecture/frontend.md
Labels: documentation

#58 Write CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
  docs/decisions/_template.md
  docs/decisions/architecture/frontend_DECISION.md
  docs/decisions/governance/code-of-conduct_DECISION.md
Labels: documentation

#65 [#49] Added Form success message prop
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_components/form.tsx
Labels: front-end

#81 [#80] Added formDataToObj reusable function helper
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_helpers/formDataToObj.ts
  frontend/tsconfig.json
Labels: front-end

#78 Opened Decision: Automating API Docs
  docs/decisions/architecture/automating-api-docs_DECISION.md
Labels: decision

#73 Autogen API Docs
  .pre-commit-config.yaml
  backend/rebutify/settings.py
  backend/rebutify/urls.py
  backend/requirements.txt
Labels: documentation

#85 added user profile
  backend/core/migrations/0002_alter_posts_answercount_alter_posts_commentcount_and_more.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/tests.py
  backend/core/views.py
  backend/rebutify/settings.py
  backend/rebutify/urls.py
Labels: back-end, feature

#64 Feat/63 code of conduct decision
  docs/CONTRIBUTING.md
  docs/decisions/_template.md
  docs/decisions/governance/code-of-conduct_DECISION.md
  docs/decisions/governance/contributing_DECISION.md
  docs/governance/CODE_OF_CONDUCT.md
  docs/governance/CONTRIBUTING.md
Labels: documentation

#76 fixed activation email to send with an activation url
  backend/core/urls.py
  backend/core/views.py
  backend/rebutify/settings.py
  frontend/app/(routes)/(auth)/layout.tsx
  frontend/app/page.tsx
Labels: bug, back-end
