Repository Monstarrrr/rebutify, pull requests merged in 2024-06, with the labels that each got.

#101 Change Site Domain to Frontend URL
  backend/.template-env
  backend/rebutify/settings.py
  backend/scripts/update_site_domain.py
Labels: back-end, feature

#71 Automate Decision Doc Integration
  .github/workflows/decision.yml
Labels: documentation

#108 Fix/107_decisionyml-warnings
  .github/workflows/decision.yml
Labels: bug, Workflow

#103 [#48] Account activation
  frontend/app/(routes)/(auth)/activate/page.tsx
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_components/activate.tsx
  frontend/app/_components/form.tsx
  frontend/app/_types/inputs.ts
  frontend/tsconfig.json
Labels: front-end, feature

#120 Create Frontend .template-env
  frontend/.template-env
Labels: documentation, front-end

#39 Feat/1 auth
  .pre-commit-config.yaml
  backend/.template-env
  backend/core/forms.py
  backend/core/templates/user/Email.html
  backend/core/templates/user/index.html
  backend/core/templates/user/login.html
  backend/core/templates/user/logout.html
  backend/core/templates/user/register.html
  backend/core/tests/__init__.py
  backend/core/tests/test_core.py
  backend/core/tests/test_posts.py
  backend/core/urls.py
  backend/core/views.py
  backend/rebutify/settings.py
  backend/rebutify/urls.py
  backend/requirements.txt
  backend/scripts/update_site_domain.py
  docs/README.md
  frontend/.eslintrc.json
  frontend/.template-env
  frontend/app/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/activate/page.tsx
  frontend/app/(routes)/(auth)/error.tsx
  frontend/app/(routes)/(auth)/layout.tsx
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_components/activate.tsx
  frontend/app/_components/form.tsx
  frontend/app/_helpers/formDataToObj.ts
  frontend/app/_models/inputs.ts
  frontend/app/_styles/fonts.ts
  frontend/app/_types/api.ts
  frontend/app/_types/inputs.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: front-end, back-end

#116 [#115] Login
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_components/activate.tsx
  frontend/app/_components/form.tsx
Labels: front-end, feature

#130 Feat/128 decision flow from template
  .github/workflows/decision.yml
Labels: documentation, Workflow

#142 fix: pass "branch" to create-pull-request action
  .github/workflows/decision.yml
Labels: bug, Workflow

#143 #139 document postTypeId
  backend/core/models.py
Labels: documentation, back-end

#146 Add docs/ to list of branch names in pre-commit
  .pre-commit-config.yaml
Labels: Workflow, feature

#156 Use the GITHUB_OUTPUT environment file to pass inputs to action
  .github/workflows/decision.yml
Labels: bug, Workflow

#149 User store
  frontend/.eslintrc.json
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_components/activate.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/store/Provider.tsx
  frontend/store/hooks.ts
  frontend/store/injector.ts
  frontend/store/slices/user.ts
  frontend/store/store.ts
  frontend/tsconfig.json
Labels: front-end, feature

#159 fix: add input "base" to create PR action
  .github/workflows/decision.yml
Labels: bug, Workflow

#164 Fix page-breaking error handling bug
  frontend/app/_components/form.tsx
Labels: bug, front-end

#167 added settings for url normalization
  backend/rebutify/settings.py
Labels: bug, back-end

#160 docs/157 decision frontend unit tests
  docs/decisions/_template.md
  docs/decisions/architecture/frontend-unit-tests_DECISION.md
Labels: documentation, front-end

#179 #177 Open emails locally
  .gitignore
  backend/.template-env
  backend/rebutify/settings.py
Labels: back-end, feature

#178 Logs
  .github/workflows/decision.yml
Labels: bug

#184 Create issue template for decisions
  .github/ISSUE_TEMPLATE/decision.md
Labels: documentation

#181 #180 Fix site name
  backend/.template-env
  backend/rebutify/settings.py
  backend/scripts/update_site_domain.py
Labels: bug, back-end

#168 Decision api paradigm
  docs/decisions/_template.md
  docs/decisions/architecture/api-paradigm.md
Labels: documentation, front-end, back-end

#165 Fix registration cors
  backend/rebutify/settings.py
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_helpers/isTokenExpired.ts
  frontend/app/_helpers/jwtDecode.ts
Labels: bug, front-end, back-end

#198 Logout
  docs/governance/CONTRIBUTING.md
  frontend/app/(routes)/(auth)/activate/page.tsx
  frontend/app/(routes)/(auth)/layout.tsx
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_api/auth/getUserInfo.ts
  frontend/app/_api/auth/index.ts
  frontend/app/_api/auth/login.ts
  frontend/app/_api/auth/register.ts
  frontend/app/_components/activate.tsx
  frontend/app/_components/form.tsx
  frontend/app/_components/header.tsx
  frontend/app/_components/index.ts
  frontend/app/_helpers/formDataToObj.ts
  frontend/app/_helpers/index.ts
  frontend/app/_helpers/isTokenExpired.ts
  frontend/app/_helpers/jwtDecode.ts
  frontend/app/_typeGuards/index.ts
  frontend/app/_types/ApiResponse.ts
  frontend/app/_types/FormDataObj.ts
  frontend/app/_types/FormProps.ts
  frontend/app/_types/TextInput.ts
  frontend/app/_types/UserType.ts
  frontend/app/_types/index.ts
  frontend/app/layout.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/store/slices/user.ts
  frontend/tsconfig.json
Labels: front-end, feature

#200 #153 Add success message
  backend/scripts/update_site_domain.py
Labels: back-end

#201 Add docs for OpenAPI Spec
  docs/README.md
  docs/governance/CONTRIBUTING.md
Labels: documentation, back-end

#207 #204 startup login
  .pre-commit-config.yaml
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_api/auth/fetchUserInfo.ts
  frontend/app/_api/auth/getUserInfo.ts
  frontend/app/_api/auth/index.ts
  frontend/app/_components/clientInitializer.tsx
  frontend/app/_components/index.ts
  frontend/app/_helpers/index.ts
  frontend/app/_helpers/isTokenInStorage.ts
  frontend/app/_types/Token.ts
  frontend/app/_types/UserType.ts
  frontend/app/_types/declarations/axios.d.ts
  frontend/app/_types/index.ts
  frontend/app/layout.tsx
  frontend/store/slices/user.ts
  frontend/tsconfig.json
Labels: front-end, feature

#213 github docs recognition
  .github/ISSUE_TEMPLATE/decision.md
  .github/workflows/decision.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/decisions/_template.md
  docs/decisions/architecture/api-paradigm.md
  docs/decisions/architecture/automating-api-docs_DECISION.md
  docs/decisions/architecture/frontend-unit-tests_DECISION.md
  docs/decisions/architecture/frontend_DECISION.md
  docs/decisions/governance/code-of-conduct_DECISION.md
  docs/decisions/governance/contributing_DECISION.md
Labels: bug, [ documentation /

#215 Fix auto-login with refresh_token
  frontend/app/(routes)/(auth)/layout.tsx
  frontend/app/_api/api.ts
  frontend/app/_api/auth/index.ts
  frontend/app/_api/auth/refreshTheToken.ts
  frontend/app/_helpers/isTokenExpired.ts
  frontend/app/page.tsx
  frontend/next.config.mjs
  frontend/public/next.svg
  frontend/public/vercel.svg
Labels: bug, [ front-end /

#225 Frontend api maj fix
  frontend/app/(routes)/(auth)/login/page.tsx
  frontend/app/(routes)/(auth)/register/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_api/auth/index.ts
  frontend/app/_api/auth/login.ts
  frontend/app/_api/auth/register.ts
  frontend/app/_api/posts/createPost.ts
  frontend/app/_api/posts/index.ts
  frontend/app/_components/argumentCard.tsx
  frontend/app/page.tsx
Labels: bug, [ front-end /

#228 Added rebuttals viewset, serializer, url, and tests
  backend/core/serializers.py
  backend/core/tests/test_posts.py
  backend/core/views.py
  backend/rebutify/urls.py
Labels: [ back-end /, feature

#231 Added comments viewset, serializer, url, and tests
  backend/core/serializers.py
  backend/core/tests/test_posts.py
  backend/core/views.py
  backend/rebutify/urls.py
Labels: [ back-end /, feature
