Repository Monstarrrr/rebutify, pull requests merged in 2024-08, with the labels that each got.

#303 Fix/302 axios version
  frontend/package-lock.json
  frontend/package.json
Labels: security

#304 Feat/300 cors
  backend-mock/src/app.ts
  backend-mock/src/utils/config.ts
  frontend/package-lock.json
  frontend/package.json
Labels: feature, blocking

#298 Feat/288 mock api
  .github/ISSUE_TEMPLATE/decision.md
  .github/ISSUE_TEMPLATE/default.md
  .github/workflows/backend_ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  backend-mock/.gitignore
  backend-mock/README.md
  backend-mock/package-lock.json
  backend-mock/package.json
  backend-mock/src/app.ts
  backend-mock/src/controllers/auth-jwt.ts
  backend-mock/src/controllers/auth-users.ts
  backend-mock/src/controllers/posts.ts
  backend-mock/src/data-source.ts
  backend-mock/src/entity/User.ts
  backend-mock/src/index.ts
  backend-mock/src/routes/auth-jwt.ts
  backend-mock/src/routes/auth-users.ts
  backend-mock/src/routes/index.ts
  backend-mock/src/routes/posts.ts
  backend-mock/src/utils/config.ts
  backend-mock/src/utils/errors.ts
  backend-mock/src/utils/logger.ts
  backend-mock/src/utils/middleware.ts
  backend-mock/tsconfig.json
  docs/CONTRIBUTING.md
  frontend/.eslintrc.json
  frontend/app/(routes)/argument/[id]/page.tsx
  frontend/app/(routes)/profile/page.tsx
  frontend/app/_api/api.ts
  frontend/app/_api/auth/register.ts
  frontend/app/_api/posts/createPost.ts
  frontend/app/_api/posts/getPosts.ts
  frontend/app/_components/argumentCards.tsx
  frontend/app/_components/form.tsx
  frontend/app/_components/header.tsx
  frontend/app/_components/index.ts
  frontend/app/_components/rebuttalCards.tsx
  frontend/app/_components/rebuttalSubmition.tsx
  frontend/app/_types/NavLink.ts
  frontend/app/_types/Post.ts
  frontend/app/page.tsx
Labels: [ mock-backend /

#308 Fix/307 bearer case
  backend-mock/src/app.ts
  backend-mock/src/index.ts
  backend-mock/src/utils/config.ts
  backend-mock/src/utils/middleware.ts
Labels: bug, [ backend /

#313 change the appropriate dependencies to dev
  backend-mock/package.json
Labels: bug, [ backend /

#318 Added white paper to readme
  docs/README.md
Labels: [ documentation /
