Repository Monstarrrr/rebutify, pull requests merged in 2024-07, with the labels that each got.

#241 add upvotes and downvotes
  backend/core/migrations/0007_vote_remove_userprofile_downvotes_and_more.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/tests/test_posts.py
  backend/core/tests/test_user.py
  backend/core/views.py
Labels: [ back-end /, feature

#243 Added vote/rebuttals/comments endpoints
  backend/core/tests/test_vote.py
  backend/core/views.py
  backend/rebutify/urls.py
Labels: [ back-end /, feature

#252 deleted unused viewsets
  backend/core/urls.py
  backend/core/views.py
Labels: [ back-end /

#240 added pagination for arguments
  backend/.template-env
  backend/core/migrations/0008_rename_createdat_posts_created_and_more.py
  backend/core/migrations/0009_rename_joindate_userprofile_created.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/tests/test_posts.py
  backend/core/tests/test_user.py
  backend/core/tests/test_vote.py
  backend/core/views.py
  backend/rebutify/settings.py
  backend/rebutify/urls.py
  frontend/app/_types/Post.ts
Labels: [ back-end /, feature

#262 fixed the frontend posts.map issue
  frontend/app/_api/posts/getPosts.ts
Labels: bug, [ front-end /, blocking

#280 Add MIT license
  docs/LICENSE
Labels: [ documentation /

#281 CORS Header fixes
  backend/rebutify/settings.py
  backend/requirements-dev.txt
Labels: [ back-end /

#282 Hotfix: psycopg is not a dev dependency
  backend/requirements-dev.txt
  backend/requirements.txt
Labels: [ back-end /
